* {   
    margin: 0px;   
    padding: 0px; 
}
h1 {
    font: bold 25px verdana sans-serif;
}

h2 {
    font: bold 14px verdana sans-serif;
}

header, section, footer, aside, article, nav, figure, figcaption, hgroup {
    display: block;
}

body{
    text-align: center;
}

#agrupar {
    width: 960px;
    margin: 15px 5px 15px 5px;
    text-align: left;
}

#cabecera{
    background: #044CAE;
    color: white;
    border: 1px solid #999999;
    padding: 20px;
}

#menu{
    background: gray;
    padding: 5px 15px 5px 15px;
}

#menu li{
    display: inline;
    list-style: none ;
    font: bold 14px verdana sans-serif;
    padding: 5px;
}

#seccion{
    float: left;
    width: 660px;
    margin: 20px;
}

#columna{
    float: left;
    width: 220px;
    height: 340px;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background: #2BB388;
    color: white;
}

#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

article{
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 15px;
    margin-bottom: 15px;
}

img{
    width: 70px;
}

article footer{
    text-align: right;
}

time{
    color: #999999;
}

figcaption{
    font: italic 14px verdana sans-serif ;
}

#receta2-carne{
    font: italic 10px verdana sans-serif ;
}

#receta1-carne{
    font: italic 14px verdana sans-serif ;
}

#receta1-pescado{
    font: italic 14px verdana sans-serif ;
}
/* Display block pone una debajo de otro.
   Margin: arriva, derecha, abajo, izquierda.
   Border: Es un marco.
   Pading: Margen interno.
*/